@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    height: 100%;
    max-width: 100%;
}

body {
        background: 
        linear-gradient(155deg, #1471a3 35em, rgba(45, 148, 204, 0.709) 40em, rgb(255, 255, 255) 50em);
        font-family: "Darker Grotesque", serif;
}

.container {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Header and Footer Containers */ 

.header, .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 30vh;
}

.header {
    padding-top: 4em;
}

.footer {
    background: linear-gradient(155deg, white 10em, #1471a3 50em);
    padding: 2em;
}

/* Header and Footer Content */ 

#about {
    display: none;
}

.header-p {
    font-size: 1em;
}

#header-pic,
#footer-pic {
    width: 20em;
    border-radius: 30%;
}

.about-text,
.footer-text {
    background-color: white;
    border-radius: 5%;
    width: 60vw;
}

.about-text {
    margin-top: 2em;
    padding: 1em;
}

.footer-text {
    margin-bottom: 2em;
    font-size: 1.5em;
    text-align: center;
    min-width: 400px;
    padding: 1em 5em;
}


/* Project Container */ 
.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white ;
    margin-top: 80px;
    padding: 1.5em;
}

/* Project Content */

.grid,
.project-header { 
    grid-template-columns: 1fr;
    margin: 0 auto;
    display: grid;
    gap: 2.5em;
    width: 100%;
    max-width: 2000px;
}

.project-header {
    padding-left: 2.5em;
    font-size: 1.5em;
}

.grid {
    padding: 2em 1em;
}

/* Project Cards */
.card {
    height: auto;
    width: 100%;
    aspect-ratio: 4/5;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10%;
    text-wrap: wrap;
    overflow: hidden;
    text-align: center;
}


.top {
    background: linear-gradient(155deg, #1471a3 5em, rgb(255, 255, 255) 30em);
    flex: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom {
    flex: 45%;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
}

.images {
    width: 100%;
}

/* Card Text */ 

h4 {
    font-size: 1.5em;
}

.card-text {
    font-size: 0.85em;
}

a, a:visited {
    color: black;
    text-decoration: underline;
}

a:active {
    color: rgba(0, 0, 0, 0.427);
}

/* RESPONSIVE VIEWS */

/* Small Laptop */
@media (min-width: 975px) {
    .grid {grid-template-columns: repeat(2, 1fr);}
    .header, .footer {
        display: flex;
        flex-direction: column;
    }
    #about {
        display: block;
    }
    .card-text{
        font-size: 1.25em;
    }
    #header-pic,
    #footer-pic {
        width: 30em;
    }
    .header-p {
        font-size: 1.5em;
    }
    .bottom {
        padding-top: 1em;
    }
    .about-text {
        padding: 1em 5em;
    }
}

/* Tablet View */
@media (min-width: 550px) {
    .card-text{
        font-size: 1.5em;
    }
    .header-p {
        font-size: 1.5em;
    }
    .bottom {
        padding-top: 1em;
    }
    .about-text {
        padding: 1em 5em;
    }
}

/* Laptop / Desktop View */
@media (min-width: 1400px) {
    .grid {grid-template-columns: repeat(3, 1fr);}
    .header, .footer {
        flex-direction: row;
    }
    .header-text, .footer-text {
        border-radius: 5% 0% 0% 5%;
    }
    .header-p {
        font-size: 1.5em;
    }
    #about {
        display: block;
    }
    .card-text{
        font-size: 1.35em;
    }
    #header-pic,
    #footer-pic {
        width: 40em;
    }
    .bottom {
        padding-top: 1em;
    }
    .about-text {
        padding: 1em 5em;
    }
}


/* Phone Screen */
@media (max-width: 450px) {
    .project-header {display: none;};
    .bottom {
        padding-top: 1em;
    }
}

/* Small Screen */
@media (max-width: 350px) {
    h1, p, .about-text, .bottom, .footer-text {display: none;};
}