* {
    margin: 0;
    padding: 0;
    background-color: cornflowerblue;
}


.container {
    height: 100vh;

}

.grid {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 2.5em;
    padding: 5em;
    background-color: coral ;
}

.card {
    height: 25em;
    width: 20em;
    background-color: plum;
}

.header, .footer {
    height: 30vh;
    background-color: cornflowerblue;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: coral ;
}

/* Tablet View */
@media (min-width: 600px) {
    .grid {grid-template-columns: repeat(2, 1fr);}
}

/* Laptop / Desktop View */
@media (min-width: 900px) {
    .grid {grid-template-columns: repeat(3, 1fr);}
}